.listPage {
    width: 100%;
    text-align: center;
}

.result-stats {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
}

.total {
    text-align: center;
    color: #95c45b;
    font-size: 1.3rem;
}

.btn-load {
    background-color: #6e6a6a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-load:hover {
    background-color: #059669;
}
