.result-stats {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
}

.total {
    margin: 0;
    text-align: center;
    color: #95c45b;
    font-size: 1.3rem;
}

.btn-load {
    background-color: #c45b70;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 0.4rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s ease;
}

.btn-load:hover {
    background-color: #059669;
}
