.match-container {
    display: block;
    text-align: center;
}

.match-selected {
    background-color: #bb60da;
    margin-bottom: 1rem;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;

    margin-top: 0.25rem;
    padding: 0.4rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s ease;
}

.match-selected:hover {
    background-color: #059669;
}