.loginPage {
    width: 400px;
    display: flex;

}

.loginPage form div {
    flex: 1
}

.loginPage input {
    width: 100%; /* fills the div */
    box-sizing: border-box; /* includes padding in width */
    text-align: left;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.2s ease;
    background-color: white;
    color: black;
}